@model YourBooks.Models.Book
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<partial name="../BookShared/_BookInfo" />

<div class="col-md-12 col-sm-12 col-xs-12 cust-buttoms-details">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@if (Model.Comments != null && Model.Comments.ToList().Count > 0)
{
    <div id="ajaxCommentsEdit"></div>
}

<form asp-controller="EditBooks" asp-action="Details" method="post">
    <partial name="../BookShared/_AddComment" />
</form>

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/Books/OnGetComments/' + @Model.Id,
            success: function (comments) {
                var res =
                    '<table class="table">' +
                        '<thead>' +
                            '<tr>' +
                                '<th>Comments:</th>' +
                            '</tr>' +
                        '</thead>' +
                        '<tbody>';
                for (var i = 0; i < comments.length; i++) {
                    res +=
                            '<tr>' +
                                '<td>' +
                                    '<div>' + comments[i].text + '</div>' +
                                    '<div>' + comments[i].userName + '</div>' +
                                '</td>' +
                                '<td class="text-right">' +
                                    '<form action="/EditBooks/DeleteComment" method="post">' +
                                        '<input type="hidden" name="id" value=' + comments[i].id + ' />' +
                                        '<input type="submit" value="Delete" class="btn btn-danger" />' +
                                    '</form>' +
                                '</td>' +
                            '</tr>';
                }
                res +=
                        '</tbody>' +
                    '</table>';

                $('#ajaxCommentsEdit').html(res);
            }
        });
    });
</script>
