@using Microsoft.AspNetCore.Identity
@model YourBooks.Models.Book
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>

<partial name="../BookShared/_BookInfo" />

@if (Model.Comments != null && Model.Comments.ToList().Count > 0)
{
    <div id="ajaxComments"></div>
}
@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Books" asp-action="Details" method="post">
        <partial name="../BookShared/_AddComment" />
    </form>
}
else
{
    <p>Log in to write a comment:</p>
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-default">Login</a>
}

<hr>
<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/Books/OnGetComments/' + @Model.Id,
            success: function (comments) {
                var res =
                    '<table class="table">' +
                        '<thead>' +
                            '<tr>' +
                                '<th>Comments:</th>' +
                            '</tr>' +
                        '</thead>' +
                        '<tbody>';
                for (var i = 0; i < comments.length; i++) {
                    res +=
                            '<tr>' +
                                '<td>' +
                                    '<div>' + comments[i].text + '</div>' +
                                    '<div>' + comments[i].userName + '</div>' +
                                '</td>' +
                            '</tr>';
                }
                res +=
                        '</tbody>' +
                    '</table>';

                $('#ajaxComments').html(res);
            }
        });
    });
</script>