@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<p>Sign in and post books which we are missing. :o)</p>

<p>Author of this web-site:</p>

<p>Emanuel Zaymus</p>
<p>5ZY031</p>
