@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<address>
    FACULTY OF INFORMATICS AND MANAGEMENT SCIENCE<br />
    UNIVERSITY OF ZILINA<br />
</address>
<address>
    <strong>Address:</strong> Univerzitná 8215/1, 010 26 Žilina<br>
    <strong>Phone:</strong> +421-41-513 4061<br>
    <strong>Fax:</strong> +421-41-513 4055<br>
    <strong>GPS coordinates:</strong> 49°12'6,4"N 18°45'42,6"E
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
