@{
    ViewData["Title"] = "Home";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="Books/Details/1059">
                <img src="https://prodimage.images-bn.com/pimages/9781524796280_p0_v2_s550x406.jpg" alt="book-img" class="img-responsive col-md-4 col-xs-4 col-sm-4" />
            </a>
            <a href="Books/Details/1060">
                <img src="https://prodimage.images-bn.com/pimages/9781616208776_p0_v3_s550x406.jpg" alt="book-img" class="img-responsive col-md-4 col-xs-4 col-sm-4" />
            </a>
            <a href="Books/Details/1070">
                <img src="https://prodimage.images-bn.com/pimages/9780545935173_p0_v3_s550x406.jpg" alt="book-img" class="img-responive col-md-4 col-xs-4 col-sm-4" />
            </a>
        </div>
        <div class="item">
            <a href="Books/Details/1062">
                <img src="https://prodimage.images-bn.com/pimages/9780062678416_p0_v8_s550x406.jpg" alt="book-img" class="img-responsive col-md-4 col-xs-4 col-sm-4" />
            </a>
            <a href="Books/Details/1063">
                <img src="https://prodimage.images-bn.com/pimages/9780735219090_p0_v10_s550x406.jpg" alt="book-img" class="img-responsive col-md-4 col-xs-4 col-sm-4" />
            </a>
            <a href="Books/Details/1064">
                <img src="https://prodimage.images-bn.com/pimages/9781538715772_p0_v1_s550x406.jpg
                     " alt="book-img" class="img-responsive col-md-4 col-xs-4 col-sm-4" />
            </a>
        </div>
        <div class="item">
            <a href="Books/Details/1065">
                <img src="https://prodimage.images-bn.com/pimages/9781250165619_p0_v3_s550x406.jpg" alt="book-img" class="img-responsive col-md-4 col-xs-4 col-sm-4" />
            </a>
            <a href="Books/Details/1066">
                <img src="https://prodimage.images-bn.com/pimages/9780062684745_p0_v4_s550x406.jpg" alt="book-img" class="img-responsive col-md-4 col-xs-4 col-sm-4" />
            </a>
            <a href="Books/Details/1067">
                <img src="https://prodimage.images-bn.com/pimages/9781442468436_p0_v2_s550x406.jpg" alt="book-img" class="img-responsive col-md-4 col-xs-4 col-sm-4" />
            </a>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr>
<p class="custom-text-center custom-head cust-mrgin">Our Best Picks of 2018</p>
<hr>

<div class="row">
    <div class="col-md-3 col-sm-6 col-sm-12 col-xs-12">
        <div>
            <a href="Books/Details/1054">
                <img src="https://prodimage.images-bn.com/pimages/9781524763138_p0_v6_s550x406.jpg" alt="book1" class="center-block img-thumbnail" />
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <a href="Books/Details/1056">
            <img src="https://prodimage.images-bn.com/pimages/9781400201655_p0_v8_s550x406.jpg" alt="book2" class="center-block img-thumbnail" />
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <div>
            <a href="Books/Details/1057">
                <img src="https://prodimage.images-bn.com/pimages/9780399590504_p0_v5_s550x406.jpg" alt="book3" class="center-block img-thumbnail" />
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <a href="Books/Details/1058">
            <img src="https://prodimage.images-bn.com/pimages/9780385544160_p0_v3_s550x406.jpg" alt="book4" class="center-block img-thumbnail" />
        </a>
    </div>
</div>
