.custom-pad {
    padding: 0px
}

.custom-img {
    max-width: 100%;
    height: auto;
}

.custom-text-center {
    text-align: center;
}

.custom-head {
    font-size: 30px;
}

.cust-margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.cust-book-details {
    font-size: 18px;
}

.cust-but-shop {
    margin: 10px;
    margin-bottom: 20px;
}

.cust-buttoms-details {
    margin-top: 40px;
}

#your-comments {
    border-top: 20px;
}

#cust-controls {
    padding: 10px;
}

.cust-caurse-img {
    width: 100%;
    height: 100%;
}

.cust-caursel {
    max-height: 300px;
}