.custom-pad {
    padding: 0px
}

.custom-img {
    max-width: 100%;
    height: auto;
}

.custom-text-center{
    text-align: center;
}

.custom-head {
    font-size: 30px;
}

.cust-margin {
    padding-top:30;
    padding-bottom:30;
}