
<p class="row">
    <div class="form-group"  id="your-comments">
        <label class="control-label">Your comment:</label>
        <input type="text" name="commentText" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" value="Comment" class="btn btn-primary" />
    </div>
</p>
